/* COLOR
----------------------------*/
$color-primary: #fec260;
$color-primary-alt: #f19d2e;
$text-white: #fff;
$text-gray: #888;
$text-black: rgb(29, 29, 31);
$color-black: rgb(34, 34, 34);
$color-black-alt: #444;
$scrollbar-thumb-color: #444;
$scrollbar-thumb-color-alt: #666;
$card-color: #333;
$nav-height: 72px;
