@import './variables.scss';

* {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
  @media screen and (max-width: 1140px) {
    margin: 0 32px;
    padding: 0;
  }
  @media screen and (max-width: 768px) {
    margin: 0 16px;
    padding: 0;
  }
}

.section {
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 80px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.g-relative {
  position: relative;
}

.loadingImg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 100px;
  }
}
