@import './variables.scss';

* {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
  @media screen and (max-width: 1140px) {
    margin: 0 32px;
    padding: 0;
  }
  @media screen and (max-width: 768px) {
    margin: 0 16px;
    padding: 0;
  }
}

.section {
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 80px;
}

.card {
  background-color: $card-color;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: $primary-color;
  color: $text-black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $primary-color-alt;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.g-relative {
  position: relative;
}

.loadingImg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 100px;
  }
}
