$primary-color: #FEC260;
$primary-color-alt: #f19d2e;
$text-white: #fff;
$text-gray: #888;
$text-black: rgb(29,29,31);
$black-color: rgb(34,34,34);
$black-color-alt: #444;
$scrollbar-thumb-color: #444;
$scrollbar-thumb-color-alt: #666;
$card-color: #333;
$nav-height: 72px;